.advantages__section {
  background-color: var(--color-base);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.advantages__title {
  font-size: var(--font-size-max);
  color: var(--color-secondary);
  margin-bottom: 0;
}

.advantages__header__description{
  color: var(--color-secondary);
}

.advantages__content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  margin: 50px 0;
  place-items: center;
  justify-content: space-around;
}

.advantages__content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.advantages__main--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 262px;
  height: 364px;
  gap: 30px;
}

.advantages__content--title {
  margin: 0;
  color: var(--color-secondary);
  text-transform: uppercase;
  text-align: center;

}

.advantages__content--desciption {
  margin: 0;
  color: var(--color-secondary);
  text-align: center;
  font-size: var(--font-size-s);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-base);
}

.advantage__content--item {
  width: 203px;
  height: 203px;
}

.advantages__item--conversion {
  width: 200px;
  height: 200px;
  background-color: var(--color-base);
  border: solid 2px var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 5%;
  background: conic-gradient(transparent 0% 30%,
      var(--color-primary) 0% 30%);
}

.advantages__item--dowloads {
  width: 200px;
  height: 200px;
  background-color: var(--color-base);
  border: solid 2px var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 5%;
  background: conic-gradient(transparent 0% 59%,
      var(--color-primary) 0% 59%);
}

.advantages__item--visitors {
  width: 200px;
  height: 200px;
  background-color: var(--color-base);
  border: solid 2px var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 5%;
  background: conic-gradient(transparent 0% 19%,
      var(--color-primary) 0% 19%);
}

.advantages__cirlce {
  width: 187px;
  height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-base);
}

.percent--integer {
  color: var(--color-secondary);
  font-size: var(--font-size-giant);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-min);
}

.percent--decimal {
  color: var(--color-secondary);
  font-size: var(--font-size-xl);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-medium);
}
