.btn {
  padding: 10px 55px;
  text-align: center;
  font-size: var(--font-size-s);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-medium);
  border-radius: 35px;
  flex-shrink: 0;
  text-transform: uppercase;
}

.outline-button {
  background-color: var(--color-base);
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

.filled-button {
  background-color: var(--color-primary);
  border-radius: 35px;
  color: var(--color-secondary);
}
