.text-normal {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-base);
}

.title-default {
  font-family: var(--font-family-primary);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  font-weight: 400;
  line-height: 48px;
}

