.btn {
  font-size: var(--font-size-2xs);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-lg);
  border: var(--border-btn-width-default) var(--border-btn-style-default) var(--color-border-secondary) ;
  border-radius: 30px;
  padding: 6px 45px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-base {
  background-color: var(--color-base);
  color: var(--color-secondary);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-base);
}

.form-input {
  border-width: var(--border-input-width-default);
  border-style: var(--border-input-style-default);
  border-radius: 5px;
  opacity: 0.8;
}

input::placeholder {
  padding-left: 10px;
}

input:focus {
  outline: none;
}

@media (min-width: 1440px) {
  .btn {
    border-radius: 35px;
    font-size: var(--font-size-base);
    padding: 10px 55px;
  }
}
